<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">


<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:10px}
</style>




<body>
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">ONE CLICK WONDER</h1>
      <h2 class="masthead-subheading mb-0">Reddit, YouTube, Twitter, TechCrunch, and USAToday all in one click.</h2>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>

<div class="w3-main w3-content w3-padding" style="max-width:1250px;background-color:white";>

        <div class="w3-row-padding ">
          <% @allPosts.each do |post| %>
            <% if post.source == "TWITTER"%>
                    <div class="w3-third w3-container w3-display-container w3-margin-right  w3-margin-top w3-border w3-round-large" style="height:383px;width:383px">
                      <div class="module line-clamp-title" style="width:97%; height:25%">
                        <h3><b><%= link_to post.title, post.trendURL %></b></h3>
                      </div>

                      <div class="w3-row">
                        <div class="w3-col s3 w3-white">
                          <a href=<%= post.url %>>
                            <img src=<%= post.urlToImage %> alt="Norway" style="width:90%" class="w3-hover-opacity center-block w3-margin-right img-circle ">
                          </a>
                          <p></p>
                        </div>

                        <div class="w3-col s9 w3-white">
                          <p><b><%= post.author %></b></p>
                          <p><%= post.description %></p>
                          <div class="module line-clamp-caption">
              <b><%= post.publishedAt %></b>
                          </div>
                        </div>
                      </div>
                      <a href = "https://www.twitter.com/">
                      <img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png" style="width:10%" class="w3-display-bottomright">
                      </a>
                    </div>
              <%end%>
            <% if post.source == "REDDIT" %>
                    <div class="w3-third w3-container w3-display-container w3-margin-right  w3-margin-top w3-border w3-round-large" style="height:383px;width:383px">
                      <div class="module line-clamp-title" style="width:97%;height:15%">
                        <p><b><%= link_to post.title, post.url %></b></p>
                      </div>
                      <a href=<%= post.url %>>
                        <img src=<%= post.thumbnail %> alt="Norway" style="width:95%;max-height:55%" class="w3-hover-opacity center-block "> </a>
                      <div class="w3-container w3-white">
                        <p><b>Score: <%=post.score%> </b> &nbsp; &nbsp; &nbsp; &nbsp;
                          <a href = https://www.reddit.com/r/<%=post.subreddit%>>/R/<%=post.subreddit %></a>
                        </p>
                        <p>
                          <a href = <%= post.commentsLink%>> <%= post.numComments%> Comments</a> &nbsp; &nbsp; &nbsp; &nbsp;
                         <b> <%=post.publishedAt%> </b>
                        </p>
                      <div class="w3-display-bottommiddle " style="width:100%;height:10%">
                        <a href="http://reddit.com">
                          <div class="w3-display-bottommiddle " style="width:100%;height:10%">
                            <img src="https://media.glassdoor.com/sqll/796358/reddit-squarelogo-1490630845152.png" style="width:9%" class="w3-display-bottomright w3-circle">
                          </div>
                        </a>
                      </div>

                    </div>

                  </div>
            <% end %>
            <% if post.source == "TECHCRUNCH" %>
                    <div class="w3-third w3-container w3-display-container w3-margin-right w3-margin-top w3-border w3-round-large" style="height:383px;width:383px">
                      <div class="module line-clamp-title" style="width:97%;height:15%">
                        <p><b><%= link_to post.title, post.url  %></b></p>
                      </div>

                      <a href=<%=post.url%> > <img src=<%= post.urlToImage %> alt="Norway" style="width:95%;max-height:55%" class="w3-hover-opacity center-block "> </a>

                      <div class="w3-container w3-white">
                              <div class="module line-clamp-caption" style="width:97%">
                                <p><%= post.description %></p>
                                <b><%=post.publishedAt%></b>
                              </div>

                             <div class="w3-display-bottommiddle" style="width:100%; height:10%">
                               <a href = "https://www.techcrunch.com/">
                                <img src="http://i0.kym-cdn.com/entries/icons/facebook/000/020/474/EtxjSSKk_400x400.jpg" style="width:9%" class="w3-display-bottomright  w3-circle">
                               </a>
                             </div>
                      </div>

                    </div>
              <% end %>
            <% if post.source == "YOUTUBE" %>
                    <div class="w3-third w3-container w3-display-container w3-margin-right  w3-margin-top w3-border w3-round-large" style="height:383px;width:383px">
                      <div class="module line-clamp-title" style="width:97%;height:15%">
                        <p><b><%= link_to post.title, post.url %></b></p>
                      </div>
                      <a href=<%= post.url %>>
                        <img src=<%= post.urlToImage %> alt="Norway" style="width:95%;max-height:55%" class="w3-hover-opacity center-block" > </a>
                      <div class="w3-container w3-white">
                        <b> <%= post.publishedAt %> </b>
                        <div class="module line-clamp-caption" style="width:97%">
                          <p><%= post.description %></p>
                        </div>

                      <div class="w3-display-bottommiddle " style="width:100%;height:10%">
                        <a href = "https://www.youtube.com/">
                          <img src="https://seeklogo.com/images/Y/youtube-square-logo-3F9D037665-seeklogo.com.png" style="width:9%" class="w3-display-bottomright  w3-circle">
                        </a>
                      </div>

                     </div>

                  </div>
              <% end %>
            <% if post.source == "USATODAY" %>
                    <div class="w3-third w3-container w3-display-container w3-margin-right w3-margin-top w3-border w3-round-large" style="height:383px;width:383px">
                      <div class="module line-clamp-title" style="width:97%;height:15%">
                        <p><b><%= link_to post.title, post.url  %></b></p>
                      </div>

                      <a href=<%=post.url%> > <img src=<%= post.urlToImage %> alt="Norway" style="width:95%;max-height:55%" class="w3-hover-opacity center-block "> </a>

                      <div class="w3-container w3-white">
                        <div class="module line-clamp-caption" style="width:97%">
                          <p><%= post.description %></p>
                          <b><%=post.publishedAt%></b>
                        </div>

                        <div class="w3-display-bottommiddle" style="width:100%;height:10%">
                          <a href = "https://www.usatoday.com/">
                          <img src="https://static.wixstatic.com/media/997974_775053f9c33d42b59c721c7ab75cf09b~mv2.jpg/v1/fill/w_290,h_290,al_c,q_80,usm_0.66_1.00_0.01/997974_775053f9c33d42b59c721c7ab75cf09b~mv2.webp" style="width:9%" class="w3-display-bottomright w3-circle">
                          </a>
                        </div>
                      </div>

                    </div>
              <% end %>
            <%end%>

        </div>
      </div>

</div>

</body>
</html>
