<p id="notice"><%= notice %></p>


<h1 class="text-center">Popular TechCrunch News</h1>

<% @list_of_twitter_posts.each do |post| %>

  <div class="container well text-center">
    <% @head = post.title %>
    <h2><%= link_to post.title, post.url %></h2>
    <a href=<%= post.url %>><img src=<%= post.urlToImage %> class="img-responsive img-thumbnail" ></a>
    <div>
      <%= post.description %>
      <br>
      <%= post.publishedAt %>
    </div>
  </div>

  <br/>

<% end %>

<% @list_of_techcrunch_posts.each do |post| %>

  <div class="container well text-center">
    <% @head = post.title %>
    <h2><%= link_to post.title, post.url  %></h2>
    <a href=<%=post.url%> ><img src=<%= post.urlToImage %> class="img-responsive img-thumbnail" ></a>
    <div>
      <%= post.description %>
      <br>
      <%= post.publishedAt %>
    </div>
  </div>

  <br/>

<% end %>

<% @list_of_youtube_posts.each do |post| %>

  <div class="container well text-center">
    <% @head = post.title %>
    <h2><%= link_to post.title, post.url %></h2>
    <a href=<%= post.url %>><img src=<%= post.urlToImage %> class="img-responsive img-thumbnail" ></a>
    <div>
      <%= post.description %>
      <br>
      <%= post.publishedAt %>
    </div>
  </div>

  <br/>

<%end %>

<% @list_of_usatoday_posts.each do |post| %>

  <div class="container well text-center">
    <% @head = post.title %>
    <h2><%= link_to post.title, post.url  %></h2>
    <a href=<%=post.url%> ><img src=<%= post.urlToImage %> class="img-responsive img-thumbnail" ></a>
    <div>
      <%= post.description %>
      <br>
      <%= post.publishedAt %>
    </div>
  </div>

  <br/>

<% end %>


