<head>
  <style>
      body,html {
        margin:0;
        padding:0;
      }
      .topnav {
          background-color: #333;
          overflow: hidden;
      }
      /* Style the links inside the navigation bar */
      .topnav a {
          float: left;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
      }

      /* Change the color of links on hover */
      .topnav a:hover {
          background-color: #ddd;
          color: black;
      }
      .topnav a.active {
          background-color: #3c5a87;
          color: white;
      }


  </style>

  <div class="topnav">
    <a class="active" href="#home">One Hit Wonder</a>
    <a href="#twitter">Twitter</a>
    <a href="#usatoday">USA Today</a>
    <a href="#techcrunch">TechCrunch</a>
    <a href="#techcrunch">YouTube</a>
    <a href="#techcrunch">Reddit</a>
  </div>

</head>

<body style = "background-color: #c1c4d0;">

  <p><h1></h1></p>

  <% @list_of_twitter_posts.each do |post| %>

    <div class="container well text-center">
      <% @head = post.title %>
      <h2><%= link_to post.title, post.url %></h2>
      <a class="image" href=<%= post.url %>><img src=<%= post.urlToImage %> class="img-responsive img-thumbnail" ></a>
      <div>
        <%= post.description %>
        <br>
        <%= post.publishedAt %>
      </div>
    </div>

    <br/>

  <% end %>

  <% @list_of_techcrunch_posts.each do |post| %>

    <div class="container well text-center">
      <% @head = post.title %>
      <h2><%= link_to post.title, post.url  %></h2>
      <a class="image" href=<%=post.url%> ><img src=<%= post.urlToImage %> class="img-responsive img-thumbnail" ></a>
      <div>
        <%= post.description %>
        <br>
        <%= post.publishedAt %>
      </div>
    </div>

    <br/>

  <% end %>

  <% @list_of_youtube_posts.each do |post| %>

    <div class="container well text-center">
      <% @head = post.title %>
      <h2><%= link_to post.title, post.url %></h2>
      <a class="image" href=<%= post.url %>><img src=<%= post.urlToImage %> class="img-responsive img-thumbnail" ></a>
      <div>
        <%= post.description %>
        <br>
        <%= post.publishedAt %>
      </div>
    </div>

    <br/>

  <%end %>

  <% @list_of_usatoday_posts.each do |post| %>

    <div class="container well text-center">
      <% @head = post.title %>
      <h2><%= link_to post.title, post.url  %></h2>
      <a class="image" href=<%=post.url%> ><img src=<%= post.urlToImage %> class="img-responsive img-thumbnail" ></a>
      <div>
        <%= post.description %>
        <br>
        <%= post.publishedAt %>
      </div>
    </div>

    <br/>

  <% end %>

  <h1 class="text-center">Reddit</h1>
  <%@list_of_reddit_posts = RedditPost.new.get_posts %>
  <% @list_of_reddit_posts.each do |post| %>

    <div class="container well text-center">
      <% @head = post.title %>
      <h2><%= link_to post.title, post.url  %></h2>
      <br/>
    </div>

  <% end %>
</body>
