<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">


<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:10px}
</style>




<body>
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">ONE CLICK WONDER</h1>
      <h2 class="masthead-subheading mb-0">Reddit, YouTbe, Twitter, TechCrunch, and USAToday all one click.</h2>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>



<div class="w3-main w3-content w3-padding" style="max-width:1250px;background-color:white";>

  <!-- Twitter Photo Grid-->
  <div class="w3-row-padding ">
    <% @list_of_twitter_posts.each do |post| %>
      <div class="w3-third w3-container w3-margin-right  w3-margin-top w3-border w3-round-large" style="height:385px;width:381px">
        <div class="module line-clamp-title ">
          <h3><b><%= link_to post.title, post.url %></b></h3>
        </div>
        <a href=<%= post.url %>>
          <img src=<%= post.urlToImage %> alt="Norway" style="width:50%" class="w3-hover-opacity center-block"> </a>
        <div class="w3-container w3-white">
          <p><b><%= post.author %></b></p>
          <p><%= post.description %></p>
          <div class="module line-clamp-caption">
            <%= post.publishedAt %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<!-- TechCrunch Photo Grid-->
<div class="w3-row-padding">
  <% @list_of_techcrunch_posts.each do |post| %>
    <div class="w3-third w3-container w3-margin-bottom" style="height:300px">
      <div class="module line-clamp-title">
        <p><b><%= link_to post.title, post.url  %></b></p>
      </div>
      <a href=<%=post.url%> > <img src=<%= post.urlToImage %> alt="Norway" style="width:100%" class="w3-hover-opacity"> </a>
      <div class="w3-container w3-white">
        <div class="module line-clamp-caption">
          <p><%= post.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!-- YouTube Photo Grid-->
<div class="w3-row-padding">
  <% @list_of_youtube_posts.each do |post| %>
    <div class="w3-third w3-container w3-margin-bottom" style="height:400px">
      <div class="module line-clamp-title">
        <p><b><%= link_to post.title, post.url %></b></p>
      </div>
      <a href=<%= post.url %>>
        <img src=<%= post.urlToImage %> alt="Norway" style="width:100%" class="w3-hover-opacity" > </a>
      <div class="w3-container w3-white">
        <%= post.publishedAt %>
        <div class="module line-clamp-caption">
          <p><%= post.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!-- Reddit Photo Grid-->
<%@list_of_reddit_posts = RedditPost.new.get_posts %>
<div class="w3-row-padding">
  <% @list_of_reddit_posts.each do |post| %>
    <div class="w3-third w3-container w3-margin-bottom" style="height:300px">
      <div class="module line-clamp-title">
        <p><b><%= link_to post.title, post.url %></b></p>
      </div>
      <a href=<%= post.url %>>
        <img src=<%= post.urlToImage %> alt="Norway" style="width:100%" class="w3-hover-opacity"> </a>
      <div class="w3-container w3-white">
      </div>
    </div>
  <% end %>
</div>

<!-- USAToday Photo Grid-->
<div class="w3-row-padding">
  <% @list_of_usatoday_posts.each do |post| %>
    <div class="w3-third w3-container w3-margin-bottom" style="height:300px">
      <div class="module line-clamp-title">
        <p><b><%= link_to post.title, post.url %></b></p>
      </div>
      <a href=<%= post.url %>>
        <img src=<%= post.urlToImage %> alt="Norway" style="width:100%" class="w3-hover-opacity"> </a>
      <div class="w3-container w3-white">
        <div class="module line-clamp-caption">
          <p><%= post.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

</div>

</body>
</html>
